* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* style */
div.main, div.pesan {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 0;
}
div.pesan h5 {
    color: #333;
    text-align: center;
}
body::before {
    content: '';
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ),
    url(img/bg.png);
    background-position: center;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

/* clear */
.clear {
    clear: both;
}

/* contact2 */
.contact2 {
    background-color: rgba(5, 5, 5, 0.7);
    color: white;
    padding: 70px 10%;
}
.contact-info {
    width: 45%;
    float: left;
}
.contact-info a {
    text-decoration: none;
    color: rgb(153, 153, 153);
}
.contact-info p {
    margin: 0;
    padding-top: 5px;
}
.contact-info svg {
    float: left;
    margin-right: 20px;
}

/* socialmedia */
.socialmedia {
    width: 45%;
    margin-left: 5%;
    float: left;
}
.socialmedia a {
    text-decoration: none;
    color: rgb(153, 153, 153);
}
.socialmedia p {
    margin: 0;
    padding-top: 5px;
}
.socialmedia svg {
    float: left;
    margin-right: 20px;
}

/* footer */
footer {
    background-color: rgb(34, 34, 34);
    padding: 30px 100px;
}
footer p {
    margin: 0;
    color: rgb(153, 153, 153);
    letter-spacing: 2px;
    font-size: 14px;
}
.contact2 ul li {
    color: #bbb;
}

/* Responsive */
@media (max-width: 1000px) {
    div.pesan, div.main {
        width: 100%;
    }
    /* contact2 */
    .contact2 {
        padding: 5%;
        float: none;
    }
    .contact-info {
        float: none;
        width: 100%;
        margin-bottom: 5%;
    }
    .contact-info h3 {
        margin-bottom: 0;
    }
    .contact-info hr {
        display: none;
    }
    .contact-info svg, .contact-info p {
        margin-top: 5%;
    }
    .socialmedia {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }
    .socialmedia h3 {
        margin-bottom: 0;
    }
    .socialmedia hr {
        display: none;
    }
    .socialmedia svg, .socialmedia p {
        margin-top: 5%;
    }
    /* end contact2 */
    /* footer */
    footer {
        padding: 30px 20px;
    }
    footer p {
        font-size: 11px;
        text-align: center;
    }
    /* end footer */
}

